.hero-unit.landing
  %h1 Worried about lesson plans and core standards?
  %br
  %span Create, store, and sell lesson plans that comply to any core standard.
  %br
  %br
  = link_to 'Lean More »', new_user_registration_path, :class => "btn btn-large"
.row
  .span4
    %h2 Core Standards
    %p
      Link lesson plans with all core standards. becoming completely compliant.
  .span4
    %h2 Lesson Plans
    %p
      find the lesson plans you are looking for! also, create and store your standardized lesson plans online for free!
  .span4
    %h2 Make Money!
    %p
      sell your lesson plans online. And make money for your awesome teaching skills!