.hero-unit
  %h1 Standardized
  %p Create awesome lesson plans. Link them to one of the new core standards. And sell them!
  = link_to 'Get Started »', new_user_registration_path, :class => "btn btn-large btn-success"
.row
  .span4
    %h2 Core Standards
    %p
      Link lesson plans with all core standards. becoming completely compliant.
  .span4
    %h2 Lesson Plans
    %p
      find the lesson plans you are looking for! also, create and store your standardized lesson plans online for free!
  .span4
    %h2 Make Money!
    %p
      sell your lesson plans online. And make money for your awesome teaching skills!