.tabbable
  %ul.nav.nav-tabs
    %li.active
      =link_to "About", "#tab1", :data => {:toggle => "tab"}
    %li
      =link_to "ClassAct Beta", "#tab2", :data => {:toggle => "tab"}
  .tab-content
    .tab-pane.active{:id => "tab1"}
      =cache("static_about") do
        %p
          Class act is where teachers come together to learn about and build on knowledge of the new Core Standards. Teachers also create, store, and sell their lesson plans for free! All lesson plans will easily adhere to the core standards. You will never have to worry about your lesson plans ever again!
        %p
          This app is currently being constructed. Be sure to check back often for updates and news.
        =link_to "Lean More!", landing_index_path, :class => "btn pull-right btn-primary"
    .tab-pane{:id => "tab2"}
      %p
        %h4 Would you like to:
        %ul
          %li Create Common Core lesson plans
          %li Store your lesson plans in the cloud
          %li share/sell your lesson plans to other teachers
        %br
        %h4 if so, you are in luck! 
        %p 
          We are hosting a beta for the classact application shortly. If you like, Please enter your email address and we'll contact you when the beta starts! (we will not spam you're email... we promise)
      - if user_signed_in?
        %div{:class => "alert alert-success"}
          %p You already created an account, so you are automatically signed up for the beta!
      - else
        = render partial: "/leads/remote_form", locals: {lead_type: "beta_test"}
