.tabbable
  %ul.nav.nav-tabs
    %li.active
      =link_to "About", "#tab1", :data => {:toggle => "tab"}
    %li
      =link_to "Create an Account!", "#tab2", :data => {:toggle => "tab"}
  .tab-content
    .tab-pane.active{:id => "tab1"}
      =cache("static_about") do
        %p
          With a committed staff to ClassAct’s core beliefs & foundation we provide timely & accurate educational information designed beautifully. Information that is simple to use and with the most commonly asked for teacher “must haves” to enhance your classroom experience. Important to us is your ability to share with otheteachers allowing for the positive evolution of education.

        %p
          We provide clear access to the Common Core State Standards & are dedicated to outstanding lesson plans, teacher resources, and building a community of support with chats that members can start to create a true professional learning network.
        %p
          This app is currently being constructed. Be sure to check back often for updates and news.
        =link_to "Lean More!", page_path("about"), :class => "btn pull-right btn-primary"
    .tab-pane{:id => "tab2"}
      %p
        %h4 Would you like to:
        %ul
          %li Create Common Core lesson plans
          %li Store your lesson plans in the cloud
          %li share/sell your lesson plans to other teachers
        %br
        %h4 if so, you are in luck!
        %p
          We are hosting a beta for the classact application shortly. If you like, Please enter your email address and we'll contact you when the beta starts! (we will not spam you're email... we promise)
      - if user_signed_in?
        %div{:class => "alert alert-success"}
          %p You are already logged in :)
      - else
        = link_to "Create Account", new_user_registration_path, class: 'btn btn-success'
