%h3 Class Act
.tabbable
  %ul.nav.nav-tabs
    %li.active
      =link_to "About", "#tab1", :data => {:toggle => "tab"}
    %li
      =link_to "Contact", "#tab2", :data => {:toggle => "tab"}
  .tab-content
    .tab-pane.active{:id => "tab1"}
      %p 
        Class act is a great way for teachers to come together. Learn about and build on knowledge of the new Core Standards. Teachers are also able to create, store, and sell their lesson plans for free! All lesson plans will easily be able to adhere to the core standards. You will never have to worry about your lesson plans ever again!
      =link_to "Lean More!", landing_index_path, :class => "btn btn-block"
    .tab-pane{:id => "tab2"}
      %p
        this is a section where we'll have some contact information for you