%h3 Class Act BETA!
.well
  %h4 Would you like to:
  %ul
    %li Create Common Core lesson plans
    %li Store your lesson plans in the cloud
    %li share/sell your lesson plans to other teachers
  %br
  %h4 if so, you are in luck! 
  %p 
    We are hosting a beta for the classact application shortly. If you like, Please enter your email address and we'll contact you when the beta starts! (we will not spam you're email... we promise)