.well
  %h4 Would you like to:
  %ul
    %li Create Common Core lesson plans
    %li Store your lesson plans in the cloud
    %li share/sell your lesson plans to other teachers
  %br
  %h4 if so, you are in luck! 
  %p 
    You can create an account and get started right away for FREE!

