.span6.offset2.well
  %h2 Sign up for our beta!
  %p
    We are working very hard to make teacher's lives easier. With classAct, you will be able
    to easily:
    %ul
      %li
        Create, and store your lesson plans online for free
      %li
        Find Core Standards that match your lesson plans, and link them directly
      %li
        Sell your lesson plans online to other teachers in our community
  %p
    To sign up for our beta, just provide your name and email address, and you'll be on our
    list of teachers to contact when we are ready. We hope to see you soon!
    
  = render partial: "form", locals: {lead_type: lead_type}
