%h1 Home
User: #{link_to @user.name, @user}
%br

%div.row
  %h1 Lesson Plans
  =link_to "Create Lesson Plan", new_user_lesson_plan_path(current_user)
  %br
  =render @lesson_plans

%div.row
= if current_user.has_role?(:blogger)
  %h1 Blog
  %ul{class: "user_#{@user.id}_posts"}
  =link_to "Create a new post", new_user_post_path(current_user)
  - @posts.each do |post|
    %li
      =link_to post.title, post_path(post)
      =link_to 'edit post', edit_user_post_path(current_user, post)

%div.row
  %h1 Newsletters
  =link_to "Coming Soon", page_path(id: 'newsletters')

%div.row
  %h1 Chat Rooms
  =link_to "Coming Soon", page_path(id: 'chat_rooms')
