<div class="container">
  <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h2>
          Passionate Teachers + Supportive Community = Great Education
        </h2>
      </div>

    <p>
      I am passionate about education, teachers and student success. I believe that exceptional education comes to students through dedicated teachers, their knowledge and deep devotion to education. It is with my passionate love of teaching that I have built ClassAct, a place to research & access Common Core Standards & share your best practices. A place where teachers support teachers throughout these times of change in education.  Integrity, excellence, love of teaching & educational development, I am proud to say that is the foundation of my business.
    </p>
    <p>
    With a committed staff to ClassAct’s core beliefs & foundation we provide timely & accurate educational information designed beautifully. Information that is simple to use and with the most commonly asked for teacher “must haves” to enhance your classroom experience. Important to us is your ability to share with otheteachers allowing for the positive evolution of education.
    </p>

    <p>
    We provide clear access to the Common Core State Standards & are dedicated to outstanding lesson plans, teacher resources, and building a community of support with chats that members can start to create a true professional learning network.
    </p>
  </div>
</div>
