<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h2>
        Coming soon, Chat Rooms
      </h2>
    </div>
    <p>
      Soon you will be able to join chat rooms with other teachers to share all your ideas,
      lesson plans, and discuss anything you would like in the world of education!
    </p>
  </div>
</div>
