<div class="container">
  <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h2>
          Is The Common Core really being
          implemented in your district or 
          school; in each classroom & discipline 
          with fidelity on a daily basis?
        </h2>
      </div>

    <p>
    Are you an administrator who is wrestling
    with how to implement the CCSS in your 
    classrooms while still being attentive to 
    teachers’ needs, climate & culture, all of your 
    stakeholders, union contracts, and most 
    importantly—students’ academic and 
    social/emotional success? We can help! 
    There is one way to be sure that the CCSS is 
    being implements and that is to monitor and 
    adjust instructional practices because you 
    KNOW what is being taught and when.  This 
    can be done easily using ClassAct’s lesson 
    plans:
    </p>
    <p>
      <ul>
        <li>
          Cloud-based
        </li>
        
        <li>
          Common Core Stands click right into 
          each lesson plan
        </li>
        
        <li>
          Simply accessed from any computer
        </li>
        
        <li>
          Admin gets reports on which CCSS 
          are being taught, and how often
        </li>
        
        <li>
          Data collection helps making 
          targeted PD for faculty attainable
        </li>
      </ul>
    </p>
    <p>
    Authentic learning experiences take 
    teacher planning & preparation.  Is 
    this happening in each of your schools 
    every day? Web-based, CCSS aligned, 
    lesson plans that are available to your 
    faculty through your district’s portal is 
    the answer! Receive the data that 
    puts your mind at ease.
    </p>
  </div>
  <div class="col-md-6 col-md-offset-3" style="font-size:16pt;">
    <div class="alert alert-success" style="text-align:center;">
      Contact Us For More Information:<br/>
      ClassActEd.Net<br/>
      pmulhallClassAct@gmail.com<br/>
    </div>
  </div>
</div>

