.row.span8.offset1
  .row
    .span8
      %h1 Class Act Blog
      =render 'shared/about_section'
      %hr
  .post_content
    =render @posts
  =will_paginate @posts, previous_label: "previous", next_label: "next"
  %footer
    %hr
    .row
      .span8
