.row.col-md-8.col-md-offset-2
  .jumbotron
    %h1
      =@post.title
    %hr
    .post_content
      =raw(@post.body)
    %br

    =link_to "Back to Posts", posts_path, :class => "btn pull-left"

  %footer
    %hr
    .row
      %div{:id => "comments"}
        %h2 Comments
        %ul
          = cache("post_comments") do
            = render @post.cached_comments
        - if user_signed_in?
          = render partial: "comments/form"
        - else
          %div{:class => "alert alert-notice"}
            %p
              you must be
              = link_to "logged in", new_user_session_path
              to comment
      %hr
      =render 'shared/about_section'
