.row.span8.offset1
  .jumbotron
    %h1 
      =@post.title
    %hr
    .post_content
      =raw(@post.body)
    %br

    =link_to "Back to Posts", posts_path, :class => "btn pull-left"

  %footer
    %hr
    .row
      .span8
        %div{:id => "comments"}
          %h2 Comments
          %ul
            = render @comments
          = render partial: "comments/form" if user_signed_in?
      %hr
      .span8
        =render 'shared/about_section'
