.row.span8.offset1
  .jumbotron
    %h1 
      =@post.title
    %hr
    .post_content
      =raw(@post.body)

    =link_to "Back to Posts", posts_path, :class => "btn pull-left"

  %footer
    %hr
    .row
      .span8
        =render 'shared/about_section'
      .span8
        =render 'shared/beta_section'