.landing {
  font-family: helvetica;
  margin: 0;

  .landing_header {
    padding-top: 60px;
    margin-bottom: 60px;
    background: #41A0BD;
    .landing_header_content {
      color: white;
      @include outer-container;
      h1 {
        font-weight: 300;
        & strong {
          font-weight: 700;
        }
        font-family: 'Roboto Slab', serif;
        font-size: 50px;
        margin-bottom: 10px;
      }
      h2 {
        max-width: flex-grid(6);
        font-size: 26px;
        color: rgba(white, 0.7);
        font-weight: 200;
        margin-top: 0px;
      }
    }
  }

  ul.buttons {
    padding-bottom: 60px;
    margin: 0;
    padding-left: 0;
    @include shift(6);
    @include row();
    li {
      @include span-columns(3 6);
    }
  }

  img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }


  .landing_content {
    @include outer-container;
    p {
      &.left {
        margin-top: 0;
        @include span-columns(6);
      }
      &.right {
        max-width: flex-grid(6);
        @include shift(6);
      }
    }
    h3 {
     font-size: 26px;
      & strong {
        font-weight: 700;
        color: darken($teal, 10);
      }
    }

    ul {
      margin: 0;
      padding-left: 0;
      @include row();
      img {
        width: 100%
      }
      li {
        font-weight: 200;
        font-size: 16px;
        line-height: 1.6em;
        color: #7d7d7d;
        @include span-columns(3);
        &.double {
          @include shift(3);
        }
      }
    }
  }


  .icon-cog-alt {
    font-size: 100px;
  }
}
