// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {
  padding-top: 20px;
  background: #ddd;

  .landing_content {
    .well {
      position: absolute;
      background: white;
      top: 400px;
      text-align: center;
    }

    h1 {
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px;
      color: #4d4d4d;
    }

    p {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #4d4d4d;
    }

    ul {
      display: block;
      text-align: left;
      padding-left: 20px;
    }

    li {
      padding: 10px;
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #4d4d4d;
    }
  }
}
