// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts{
  color: #4d4d4d;

  #comments ul li {
    list-style: none;
  }
  .tabbable {
    p {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
    }
    li {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
  .post {
    margin-top: 20px;
  }
  .post h1 {
    font-size: 40px;
  }
  .post 
  .post_info {
    color: #7491A3;
  }

  .post_content {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .jumbotron {
    text-align: left;
  }

  aside {
    display: inline-block;
    padding-top: 60px;
  }

  footer {
    padding-top: 50px;
  }
  
  .pagination {
    text-align: center;
   }
}